[submodule "sandbox/assets/room-impulse-responses"]
	path = sandbox/assets/room-impulse-responses
	url = https://github.com/RoyJames/room-impulse-responses.git
[submodule "sandbox/assets/pianoNotes"]
	path = sandbox/assets/pianoNotes
	url = https://github.com/parisjava/wav-piano-sound.git
[submodule "Daisy_Examples"]
	path = Daisy_Examples
	url = https://github.com/electro-smith/DaisyExamples
# [submodule "daisy_firmware/ulibSD"]
# 	path = daisy_firmware/ulibSD
# 	url = git@github.com:WheatleyTheCore/Daisy_Seedified_ulibSD.git
